*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Raleway';
}

.cg-hero{
    background: linear-gradient(rgba(94, 137, 141, 0.6),
    rgba(94, 137, 141, 0.6))
    , url(../img/hero-3.jpg);
    height: 100vh;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
    background-position:  center center;

}
.cg-hero-header{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    background: linear-gradient(rgba(94, 137, 141, 0.6),
    rgba(94, 137, 141, 0.6));
    text-align: center;
    padding: 50px;
  }
  .cg-hero-header h1{
    font-size: 55px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  .cg-hero-header p{
      color: #fff;
      font-size: 20px;
  }
  .hero-btn {
    color: #5E888C;
    background-color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    text-align: center;
  
  }
  .hero-btn1 {
    color: #5E888C;
  
  }
  .hero-btn1:hover{
  
    text-decoration: none;
    background-color: #4c7376;
    color: white;
    transition:  all 0.4s ease;
  }
  .cg-feature-products{
      margin-top: 100px;
      margin-bottom: 100px;
  }
  .cg-feature-products .cg-feature-products-header h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5E888C;
    text-align: center;
  }

.cg-feature-products .divider {
    width: 500px;
    height: 2px;
    background-color: #5E888C;
    text-align: center;
    margin: 20px auto 50px;
}

.card-product-grid{
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: none;
    transition: 0.4s;
    height: 370px !important;
    text-align: center;
}
.cg-feature-products .rating-stars{
    margin-bottom: 12px;
    
}
.cg-feature-products .rating-stars li i{
    padding: 10px;
}
.card-product-grid:hover{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 #5e898d;
    transition: 0.4s;
}
.card-product-grid .img-wrap img{
    object-fit: cover;
    transition:  all 1.2s ease;
}
.card-product-grid .img-wrap img:hover{
    
    transition:  all 1.2s ease;
}
.card-product-grid .price{
    color: #ACA7A7;
    font-family: 'Roboto';
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}
.cg-feature-products-all-btn{
    margin: 50px auto 0px;
    text-align: center;
}
.cg-recent-blog{
    /* background-color: rgba(94, 137, 141, 0.15); */
    padding-bottom: 100px;
    
}

.cg-recent-blog .cg-recent-blog-header h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5E888C;
    text-align: center;
  }

.cg-recent-blog .divider {
    width: 500px;
    height: 2px;
    background-color: #5E888C;
    text-align: center;
    margin: 20px auto 50px;
}

.cg-recent-blog-main img{
    width: 100%;
    border: 1px solid #A89FA9;
    transition: 0.4s;
}
.cg-recent-blog-main img:hover{
    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
}
.cg-recent-blog-main .blog-name {
    margin-top: 20px;
    margin-bottom: 5px !important;
    text-align: center;
    

}
.cg-recent-blog-main .blog-name a{
    color: #5E888C;
    font-weight: 600;
    transition: 0.4s;
    
}
.cg-recent-blog-main .blog-name a:hover{
    color: #346D72;
    transition: 0.2s;
}
.cg-recent-blog-main .blog-time{
    color: #A89FA9;
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
}

/* ========== RESPONSIVE PART START ========== */
@media screen and (max-width: 900px){
    .cg-hero{
        height: 60vh;
    }
    .cg-hero-header{
        /* padding-top: 190px; */
        top: 45%;
        width: 520px;
      }
    .Product-card{
        margin-top: 10px;
    }
}
@media screen and (max-width: 600px){
    .upperhead{
        display: none;
    }
    .cg-hero{
        height: 40vh;
        
    }
    .cg-hero-header{
        /* padding-top: 190px; */
        top: 34.5%;
        width: 280px;
        height: 210px;
        padding-top: -20px;
        /* top:40%; */
      }
    .cg-hero-header h1{
        font-size: 22px;
        
      }
      .cg-hero-header p{;
          font-size: 12px;
      }
      .hero-btn {
        font-size: 10px;  
      }
      .Product-card{
        margin-top: 10px;
      }
      .cg-feature-products .cg-feature-products-header h2{
        font-size: 30px;
      }
      .cg-feature-products .divider {
        width: 200px;      
    }
    .card-product-grid{
        margin: 0px auto 0px;
    }
      .cg-recent-blog .cg-recent-blog-header h2{
        font-size: 30px;   
      }
      .cg-recent-blog .divider {
        width: 200px;
        
    }
}
/* ========== RESPONSIVE PART END ========== */