/* Common Color Code #5E888C 
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
}
header{
    margin-top: -60px;
  }
  nav{
    margin-top: 70px;
  }
  nav .navbar-brand h1{
    font-size: 30px;
    color: #262524;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 900;
  }
  nav .navbar-toggler{
    color: #E67A41;
  }
  nav .navbar-toggler-icon {
   width: 90%;
   height: 50%;
    color: #E67A41;
  
  }
  nav .navbar-toggler-icon i{
    color: #E67A41;
  }
  nav ul {
    /* margin: 0px auto 0px; */
    /* margin-right: 50px; */
    position: absolute;
    left: 35%;
  }
  nav ul li a{
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 20px;
    color: #000;
    
  
  }
  nav ul li a:hover{
    color: #5E888C;
    text-decoration: none;
     transition:  all 0.4s ease;
    }